<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
        <div class="carousel carousel-slider center" data-indicators="true">
          <% article.images.each do |image| %>
            <div class="carousel-item">
              <%= image_tag(image.variant(resize: '700x700'), class: "responsive-img", style: "filter: #{article.effect[0]}") %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-content">
            <span class="card-title">
              <%= link_to username_account(article.user.email), show_user_path(article.user), class: "materialize-red-text" %>
              <span class="right"><%= time_ago_in_words(article.created_at) %></span>
            </span>
        <p><%= article.content %></p>
      </div>
      <div class="card-action">
        <div class="like-block" id="<%= article.id %>">
          <%= render partial: "like_relation_ships/like_status", locals: {article: article} %>
        </div>
      </div>
      <div class="card-action">
        <span id="comment-<%= article.id %>"><%= render partial: "comments/comment", locals: {article: article} %></span>
        <%= form_tag comments_path(article_id: article.id), remote: true do |f| %>
          <%= label_tag :comment, username_account(article.user.email) %>
          <%= text_field_tag :comment, nil, placeholder: "talk something" %>
        <% end %>
      </div>
    </div>
  </div>
</div>